<!DOCTYPE html>
<html lang="en">
<head>
  <!---- Required meta tags always come first ------>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <style>
  .pusher {
    padding-top:80px;
  }
  </style>
  <script src="../js/chart.js"></script>
  <script src="../js/jquery-3.3.1.min.js"></script>
  <!--------- semantic.css 読み込み ------------>
  <link rel="stylesheet" href="../Semantic/semantic.min.css"/>
  <!--------- semantic.js 読み込み ------------->
  <script src="../Semantic/semantic.min.js"></script>
  <script type="text/javascript" src="../js/jquery-ui-1.10.4.custom.min.js"></script>
  <link rel="stylesheet" href="../js/jquery-ui-1.10.4.custom.min.css">

  <script type="text/javascript" src="/emo_js/endo/hovermov.js"></script>
  <script type="text/javascript" src="/emo_js/endo/menu.js"></script>
  <script type="text/javascript" src="/emo_js/endo/movlink.js"></script>

  <title>d_plotter</title>
  <link rel="shortcut icon" href="../img/517aa22a18c564cc08a101f2274a44c2_xxo.ico"/>
</head>

<body style="min-width:1300px;">
  <div class="ui one column stackable center aligned page grid">
    <div class="two column row">
      <img src="/emo_js/endo/fau_logo.png" width="250" height="65"/>
      <!--<div class="two wide columm"></div>
      <div class="fourteen wide columm">
      </div>-->
    </div>
  </div>
  <div class="ui grid">
    <div class="one wide column"></div>
    <!-- menu -->
    <div class="two wide column">
      <div class="ui vertical menu" style="width: 100%;">
        <div class="item">
          <div class="ui input">
            <form action="#">
              <input id="search" placeholder="Search..." type="text" name="search" style="width:100%"></div>
            </form>
        </div>
        <div class="item">
          Home
          <div class="menu">
            <!---変更中-->
            <a class="active item" id="button">Search</a>
            <a class="item">Add</a>
            <a class="item">Remove</a>
          </div>
        </div>
        <a class="item">
          <i class="grid layout icon"></i> Browse
        </a>
        <a class="item">
          Messages
        </a>
        <div class="ui dropdown item">
          More
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item"><i class="edit icon"></i> Edit Profile</a>
            <a class="item"><i class="globe icon"></i> Choose Language</a>
            <a class="item"><i class="settings icon"></i> Account Settings</a>
          </div>
        </div>
      </div>
    </div>

    <div class="twelve wide column">
      <table class="ui celled table">
        <thead>
          <tr>
            <th class="center aligned">Action Unit</th>
            <th class="center aligned">説明</th>
            <th class="center aligned"><p>顔の筋肉</p> <p>(クリックで表情筋の動作確認)</p> </th>
            <th class="center aligned">例</th>
          </tr>
        </thead>
        <tbody>
          <tr id="AU1" >
            <td class="center aligned">１</td>
            <td class="center aligned"><p>Inner Brow Raiser</p> <p>眉の内側を上げる</p></td>
            <td class="center aligned" button id ="link1">Frontalis, pars medialis</button></td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU1-FACS-gap.jpgmin.jpg" id="imgDino1"></td>
          </tr>
          <tr id="AU2" >
            <td class="center aligned">2</td>
            <td class="center aligned"><p>Outer Brow Raiser</p> <p>(unilateral, right side)</p> <p>眉の外側を上げる</p></td>
            <td class="center aligned" button id ="link2">Frontalis, pars lateralis</button></td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU2-right-only-gap.jpgmin.jpg" id="imgDino2"></td>
          </tr>
          <tr id="AU4" >
            <td class="center aligned">4</td>
            <td class="center aligned"><p>Brow Lowerer</p> <p>眉を下げる（眉間にしわができる）</p></td>
            <td class="center aligned" button id ="link4">Depressor Glabellae, Depressor Supercilli, Currugator</button></td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU4-brow-lowerer-gap.jpgmin.jpg" id="imgDino4"></td>
          </tr>
          <tr id="AU5" >
            <td class="center aligned">5</td>
            <td class="center aligned"><p>Upper Lid Raiser</p> <p>上瞼を上げる</p></td>
            <td class="center aligned" button id ="link5">Levator palpebrae superioris</button></td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU5-gap.jpgmin.jpg" id="imgDino5"></td>
          </tr>
          <tr id="AU6" >
            <td class="center aligned">6</td>
            <td class="center aligned"><p>Cheek Raiser</p> <p>頬を持ち上げる</p></td>
            <td class="center aligned" button id ="link6">Orbicularis oculi, pars orbitalis</button></td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU6-cheek-raiser-gap.jpgmin.jpg" id="imgDino6"></td>
          </tr>
          <tr id="AU7" >
            <td class="center aligned">7</td>
            <td class="center aligned"><p>Lid Tightener</p> <p>瞼を緊張させる</p></td>
            <td class="center aligned" button id ="link7">Orbicularis oculi, pars palpebralis</button></td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU7-lid-tightener-gap.jpgmin.jpg" id="imgDino7"></td>
          </tr>
          <tr id="AU9">
            <td class="center aligned"><p>9</p> <p>(also shows slight AU4 and AU10)</p></td>
            <td class="center aligned"><p>Nose Wrinkler</p> <p>鼻にしわを寄せる（鼻の上にしわができる）</p></td>
            <td class="center aligned" button id ="link9">Levator labii superioris alaquae nasi</button></td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU9-with-410-gap.jpgmin.jpg" id="imgDino9"></td>
          </tr>
          <tr id="AU10">
            <td class="center aligned"><p>10</p> <p>(also shows slight AU25)</p></td>
            <td class="center aligned"><p>Upper Lip Raiser</p> <p>上唇を上げる</p></td>
            <td class="center aligned">Levator Labii Superioris, Caput infraorbitalis</td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU10-with-25-gap.jpgmin.jpg" id="imgDino10"></td>
          </tr>
          <tr id="AU11">
            <td class="center aligned">11</td>
            <td class="center aligned"><p>Nasolabial Deepener</p> <p>鼻唇溝を深める</p></td>
            <td class="center aligned">Zygomatic Minor</td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU11-nasolabial-deepener-1-gap.jpgmin.jpg" id="imgDino11"></td>
          </tr>
          <tr id="AU12">
            <td class="center aligned">12</td>
            <td class="center aligned"><p>Lip Corner Puller</p> <p>唇両端を引き上げる</p> </td>
            <td class="center aligned" button id ="link12">Zygomatic Major</button></td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU12-gap.jpgmin.jpg" id="imgDino12"></td>
          </tr>
          <tr id="AU13">
            <td class="center aligned">13</td>
            <td class="center aligned"><p>Cheek Puffer</p> <p>唇を鋭く引き上げる（頬を膨らませる）</p></td>
            <td class="center aligned">Levator anguli oris (Caninus)</td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU13-cheek-puffer-gap.jpgmin.jpg" id="imgDino13"></td>
          </tr>
          <tr id="AU14">
            <td class="center aligned">14</td>
            <td class="center aligned"><p>Dimpler</p> <p>えくぼを作る</p></td>
            <td class="center aligned">Buccinator</td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU14-dimpler-gap.jpgmin.jpg" id="imgDino14"></td>
          </tr>
          <tr id="AU15">
            <td class="center aligned">15</td>
            <td class="center aligned"><p>Lip Corner Depressor</p> <p>唇両端を下げる</p></td>
            <td class="center aligned">Depressor anguli oris (Triangularis)</td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU15-gap.jpgmin.jpg" id="imgDino15"></td>
          </tr>
          <tr id="AU16">
            <td class="center aligned"><p>16</p> <p>(with AU25)</p></td>
            <td class="center aligned"><p>Lower Lip Depressor</p> <p>下唇を下げる</p></td>
            <td class="center aligned" button id ="link16">Depressor labii inferioris</button></td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU16-with-25-gap.jpgmin.jpg" id="imgDino16"></td>
          </tr>
          <tr id="AU17">
            <td class="center aligned">17</td>
            <td class="center aligned"><p>Chin Raiser</p> <p>オトガイを上げる</p></td>
            <td class="center aligned">Mentalis</td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU17-gap.jpgmin.jpg" id="imgDino17"></td>
          </tr>
          <tr id="AU18">
            <td class="center aligned"><p>18</p> <p>(with slight AU22 and AU25)</p></td>
            <td class="center aligned"><p>Lip Puckerer</p> <p>唇をすぼめる</p></td>
            <td class="center aligned">Incisivii labii superioris and Incisivii labii inferioris</td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU18-with-22A-and-25A-gap.jpgmin.jpg" id="imgDino18"></td>
          </tr>
          <tr id="AU20">
            <td class="center aligned">20</td>
            <td class="center aligned"><p>Lip stretcher</p> <p>唇両端を横に引く</p> </td>
            <td class="center aligned" button id ="link20">Risorius</button></td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU20-lip-stretcher-gap.jpgmin.jpg" id="imgDino20"></td>
          </tr>
          <tr id="AU22">
            <td class="center aligned">22 (with AU25)</td>
            <td class="center aligned"><p>Lip Funneler</p></td>
            <td class="center aligned">Orbicularis oris</td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU22-with-25-gap.jpgmin.jpg" id="imgDino22"></td>
          </tr>
          <tr id="AU23">
            <td class="center aligned">23</td>
            <td class="center aligned"><p>Lip Tightener</p> <p>唇を固く閉じる</p></td>
            <td class="center aligned" button id ="link23">Orbicularis oris</button></td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU23-lip-tightener-gap.jpgmin.jpg" id="imgDino23"></td>
          </tr>
          <tr id="AU24">
            <td class="center aligned">24</td>
            <td class="center aligned"><p>Lip Pressor</p> <p>唇を押し付ける</p></td>
            <td class="center aligned">Orbicularis oris</td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU24-gap.jpgmin.jpg" id="imgDino24"></td>
          </tr>
          <tr id="AU25">
            <td class="center aligned">25</td>
            <td class="center aligned"><p>Lips part</p> <p>顎を下げずに唇を開く</p></td>
            <td class="center aligned">Depressor Labii, Relaxation of Mentalis (AU17), Orbicularis Oris</td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU25-lips-part-gap.jpgmin.jpg" id="imgDino25"></td>
          </tr>
          <tr id="AU26">
            <td class="center aligned">26 (with AU25)</td>
            <td class="center aligned"><p>Jaw Drop</p> <p>顎を下げて唇を開く</p></td>
            <td class="center aligned" button id ="link26">Masetter; Temporal and Internal Pterygoid relaxed</button></td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU26-with-25-gap.jpgmin.jpg" id="imgDino26"></td>
          </tr>
          <tr id="AU27">
            <td class="center aligned">27</td>
            <td class="center aligned"><p>Mouth Stretch</p> <p>口を大きく開く</p></td>
            <td class="center aligned">Pterygoids, Digastric</td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU27-mouth-stretcher-gap.jpgmin.jpg" id="imgDino27"></td>
          </tr>
          <tr id="AU28">
            <td class="center aligned">28 (with AU26)</td>
            <td class="center aligned"><p>Lip Suck</p> <p>唇を吸い込む</p></td>
            <td class="center aligned">Orbicularis oris</td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU28-with-26-gap.jpgmin.jpg" id="imgDino28"></td>
          </tr>
          <tr id="AU41">
            <td class="center aligned">41</td>
            <td class="center aligned"><p>Lid droop</p> <p>上瞼を（力なく）下げる</p></td>
            <td class="center aligned">Relaxation of Levator Palpebrae Superioris</td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU41-lid-droop-gap.jpgmin.jpg" id="imgDino41"></td>
          </tr>
          <tr id="AU42">
            <td class="center aligned">42</td>
            <td class="center aligned"><p>Slit</p> <p><薄目/p></td>
            <td class="center aligned">Orbicularis oculi</td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU42-slit-gap.jpgmin.jpg" id="imgDino42"></td>
          </tr>
          <tr id="AU43">
            <td class="center aligned">43</td>
            <td class="center aligned"><p>Eyes Closed</p> <p>閉眼</p></td>
            <td class="center aligned">Relaxation of Levator Palpebrae Superioris</td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU43-eyes-closed-gap.jpgmin.jpg" id="imgDino43"></td>
          </tr>
          <tr id="AU44">
            <td class="center aligned">44</td>
            <td class="center aligned"><p>Squint</p> <p>細目にする</p></td>
            <td class="center aligned">Orbicularis oculi, pars palpebralis</td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU44-squint-gap.jpgmin.jpg" id="imgDino44"></td>
          </tr>
          <tr id="AU45">
            <td class="center aligned">45</td>
            <td class="center aligned"><p>Blink</p> <p>まばたく</p></td>
            <td class="center aligned">Relaxation of Levator Palpebrae and Contraction of Orbicularis Oculi, Pars Palpebralis.</td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU45-blink-gap.jpgmin.jpg" id="imgDino45"></td>
          </tr>
          <tr id="AU46">
            <td class="center aligned">46</td>
            <td class="center aligned"><p>Wink</p> <p>ウィンクする</p></td>
            <td class="center aligned">Levator palpebrae superioris; Orbicularis oculi, pars palpebralis</td>
            <td class="center aligned"><img src="/emo_js/endo/AU/AU46-wink-gap.jpgmin.jpg" id="imgDino46"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="one wide column"></div>
  </div>
</body>
</html>
