<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <style>
  .pusher {
    padding-top:80px;
  }
  </style>
  <script src="/js/chart.js"></script>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/emo_js/cross.js"></script>
  <!--- semantic.css 読み込み ------------>
  <link rel="stylesheet" href="/Semantic/semantic.min.css"/>
  <!--- semantic.js 読み込み ------------->
  <script src="/Semantic/semantic.min.js"></script>
  <script type="text/javascript" src="/js/jquery-ui-1.10.4.custom.min.js"></script>
  <link rel="stylesheet" href="/js/jquery-ui-1.10.4.custom.min.css">
  <link rel="stylesheet" href="/css/cross.css">

  <title>d_plotter</title>
  <link rel="shortcut icon" href="../img/517aa22a18c564cc08a101f2274a44c2_xxo.ico"/>
</head>

<body style="min-width:1300px;height:auto;">
  <div class="ui fixed menu">
    <div class="menu">
      <div id="js-sidebar" class="item"><i class="icon large grey content"></i>
      </div>
      <img src="/img/logo2.png" width="250" height="65"/>
    </div>
  </div>
  <div class="ui grid" style="margin-top:65px;padding-top:0px;">
    <div class="two wide column"></div>
    <div class="twelve wide column">
      <div class="ui grid" style="margin-top:60px;margin-bottom:0px;padding-bottom:0px;">
        <div class="two wide column">
        </div>
        <div class="five wide column center aligned">
          <div class="ui labeled input" style="margin-bottom:5px;width:100%;">
            <a class="ui label" style="width:30%;">Number</a><input id="human1" placeholder="Movie Number Plese" type="text">
          </div>
          <div class="ui labeled input" style="margin-bottom:5px;width:100%;">
            <a class="ui label" style="width:30%;"> Start  </a><input id="start1" placeholder="Movie Number Plese" type="text">
          </div>
          <div class="ui labeled input" style="width:100%;">
            <a class="ui label" style="width:30%;">End</a><input id="end1" placeholder="Movie Number Plese" type="text">
          </div>
        </div>
        <div class="two wide column center aligned">
          <img id="cross" src="/img/cross.png" style="width:100px;margin-top:25px;">
        </div>
        <div class="five wide column center aligned">
          <div class="ui labeled input" style="margin-bottom:5px;width:100%;">
            <a class="ui label" style="width:30%;">Number</a><input id="human2" placeholder="Movie Number Plese" type="text">
          </div>
          <div class="ui labeled input" style="margin-bottom:5px;width:100%;">
            <a class="ui label" style="width:30%;"> Start  </a><input id="start2" placeholder="Movie Number Plese" type="text">
          </div>
          <div class="ui labeled input" style="width:100%;">
            <a class="ui label" style="width:30%;">End</a><input id="end2" placeholder="Movie Number Plese" type="text">
          </div>
        </div>
        <div class="two wide column">
        </div>
      </div>

      <div class="ui grid" style="margin-top:0px;margin-bottom:30px;">
        <div class="two wide column"></div>
        <div class="twelve wide column">
          T i t l e :
          <div class="ui fluid icon input">
            <i class="big keyboard icon"></i>
            <input id="title" placeholder="Title or Comment ..." type="text">
          </div>
        </div>
        <div class="two wide column"></div>
      </div>

      <img src="/img/history.png" style="width:200px;margin-top:50px;">
      <table class="ui celled table" style="margin-top:0px;">
        <thead>
          <tr>
            <th class="center aligned">Title</th>
            <th class="center aligned">movie1</th>
            <th class="center aligned">movie2</th>
            <th class="center aligned">GO</th>
          </tr>
        </thead>
        <tbody id="history">

        </tbody>
      </table>
    </div>
    <div class="two wide column"></div>
  </div>
</body>
</html>
